	<aside class="cookie hide">

		<div class="center">

			<div class="cookie__box">

				<div class="cookie__text">

					<p>
						We and our partners use cookies in accordance with our «<a href="/privacy-policy" class="link">Privacy Policy</a>».
					</p>

					<p>
						We employ recommendation technologies to personalize the products and ads you see, as outlined in our «<a href="/terms-of-use" class="link">Terms & conditions</a>».
					</p>

				</div>

				<button class="cookie__accept btn btn--white" type="button">
					Accept
				</button>

			</div>

		</div>

	</aside>