	<footer class="footer">

		<div class="center">

			<div class="footer__grid">

				<p class="footer__logo">

					<a href="/" title="{{ site }}">

						<svg width="134" height="36">
							<use xlink:href="#logo-svg"/>
						</svg>

					</a>

				</p>

				<nav class="footer__menu">

					<div class="footer__menu-column">

						<p class="footer__menu-head">
							Услуги
						</p>

						<ul>
{% for item in [
	{
		name : "Виртуальные карты",
		href : "about-us"
	},
	{
		name : "Европейские виртуальные карты",
		href : "get-card"
	},
	{
		name : "Зарубежные карты",
		href : "referral"
	},
	{
		name : "Оплата зарубежных сервисов",
		href : "terms-of-use"
	}
] %}
							<li>

								<a href="/{{ item.href }}">
									{{ item.name }}
								</a>

							</li>

{% endfor %}

						</ul>


					</div>

					<div class="footer__menu-column">

						<p class="footer__menu-head">
							Помощь
						</p>

						<ul>
{% for item in [
	{
		name : "Частые вопросы",
		href : "about-us"
	},
	{
		name : "О нас",
		href : "get-card"
	},
	{
		name : "Помощь",
		href : "referral"
	},
	{
		name : "Контакты",
		href : "terms-of-use"
	}
] %}
							<li>

								<a href="/{{ item.href }}">
									{{ item.name }}
								</a>

							</li>

{% endfor %}

						</ul>

					</div>

				</nav>

				<p class="footer__app">
					Приложение «TaoPao»
					<img src="/img/app.svg" alt="Приложение «TaoPao»" loading="lazy" width="150" height="150">
				</p>

				<ul class="footer__social">

					<li>

						<a href="https://t.me/prompay" target="_blank" rel="noopener nofollow" title="telegram {{ site }}">

							<svg width="60" height="60" viewBox="0 0 60 60">
								<path d="M20.148 29.831q7.87-3.429 10.497-4.521c4.999-2.08 6.037-2.44 6.714-2.452.15-.003.482.034.698.209.182.148.232.347.256.487s.054.46.03.709c-.27 2.846-1.443 9.753-2.04 12.941-.252 1.349-.748 1.801-1.23 1.845-1.045.097-1.839-.69-2.85-1.354-1.585-1.038-2.48-1.685-4.018-2.698-1.777-1.172-.625-1.815.388-2.867.265-.275 4.87-4.465 4.96-4.845.01-.047.021-.224-.084-.318-.105-.093-.26-.061-.373-.036q-.239.054-7.592 5.018-1.079.74-1.952.721c-.643-.013-1.88-.363-2.798-.662-1.128-.366-2.024-.56-1.946-1.182q.061-.486 1.34-.995"/>
							</svg>

						</a>

					</li>

					<li>

						<a href="https://x.com/prompay" target="_blank" rel="noopener nofollow" title="x {{ site }}">

							<svg width="60" height="60" viewBox="0 0 60 60">
								<path d="m35.687 21.106-4.996 5.711-4.32-5.712h-6.258l7.477 9.777-7.086 8.098h3.034l5.469-6.248 4.78 6.249h6.102l-7.794-10.304 6.625-7.571zm-1.064 16.06-10.969-14.34h1.803l10.846 14.34z"/>
							</svg>

						</a>

					</li>

				</ul>

				<div class="footer__copyright">

					<p>
						© 2025 PaoTao. Все права защищены.
					</p>

					<p>
						Инновационный поставщик виртуальных платёжных карт на базе мобильного приложения
					</p>

				</div>

			</div>

		</div>

	</footer>