	<article class="everywhere">

		<div class="center">

			<div class="everywhere__content">

				<h2 class="everywhere__title h2">
					Платите везде — <b>без ограничений</b>
				</h2>

				<p class="everywhere__text">
					<b>130+ млн</b> точек по всему миру и тысячи популярных сервисов
				</p>

				<div class="everywhere__list">

					<ul>
{% for img in [84,85,86,87,88,89,90,91] %}
						<li>
							<img src="/img/everywhere/{{ img }}.svg" width="100" height="100" alt="" loading="lazy">
						</li>
{% endfor %}
					</ul>

					<ul>
{% for img in [92,93,94,95,96,97,98] %}
						<li>
							<img src="/img/everywhere/{{ img }}.svg" width="100" height="100" alt="" loading="lazy">
						</li>
{% endfor %}
					</ul>

					<ul>
{% for img in ['-02','-01','00','01','02','03','04','05'] %}
						<li>
							<img src="/img/everywhere/{{ img }}.svg" width="100" height="100" alt="" loading="lazy">
						</li>
{% endfor %}
					</ul>

					<ul>
{% for img in [92,93,94,95,96,97,98] %}
						<li>
							<img src="/img/everywhere/{{ img }}.svg" width="100" height="100" alt="" loading="lazy">
						</li>
{% endfor %}
					</ul>

				</div>

			</div>

			<div class="everywhere__btn">

				<button class="btn btn--big btn--gray" type="button" data-alt="Свернуть">
					Показать больше
				</button>

			</div>

		</div>

	</article>