.apps {

	display: flex;
	gap: 20px;

	a {

		background-color: var(--color);
		border-radius: 20px;
		display: flex;
		align-items: center;
		justify-content: center;

	}

	@media $mdWidth {

		justify-content: center;

	}

	@media $smWidth {

		display: grid;
		grid-template-columns: 1fr 1fr;

	}

}