.contact-us {

	position: relative;
	padding: 138px 0;
	overflow: hidden;

	&::before {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 600px;
		content: '';
		background-position: top;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1512' height='600' fill='none' preserveAspectRatio='none' viewBox='0 0 1512 600'%3E%3Cpath fill='url(%23a)' d='M1512 401.668V0H0v600z'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='1084' x2='248.485' y1='0' y2='845.262' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230e33e4'/%3E%3Cstop offset='1' stop-color='%235da0ff'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");

		@media $lgWidth {

			height: 760px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1023' height='760' fill='none' preserveAspectRatio='none' viewBox='0 0 1023 760'%3E%3Cpath fill='url(%23a)' d='M1024 562.335V0H0v760z'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='734.138' x2='-151.673' y1='0' y2='479.142' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230e33e4'/%3E%3Cstop offset='1' stop-color='%235da0ff'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");

		}

		@media $mdWidth {

			height: 846px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='743' height='846' fill='none' preserveAspectRatio='none' viewBox='0 0 743 846'%3E%3Cpath fill='url(%23a)' d='M743 625.967V0H0v846z'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='532.68' x2='-206.247' y1='0' y2='260.529' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230e33e4'/%3E%3Cstop offset='1' stop-color='%235da0ff'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");


		}

		@media $smWidth {

			height: 745px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='393' height='745' fill='none' preserveAspectRatio='none' viewBox='0 0 393 745'%3E%3Cpath fill='url(%23a)' d='M393 651.418V0H0v745z'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='281.754' x2='-138.816' y1='0' y2='89.066' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230e33e4'/%3E%3Cstop offset='1' stop-color='%235da0ff'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");

		}

	}

	&__box {

		display: flex;
		justify-content: space-between;

		@media $mdWidth {

			display: block;

		}

	}

	&__content {

		width: 680px;
		color: #fff;
		padding-bottom: 15px;

		@media $lgWidth {

			padding-bottom: 170px;
			width: 512px;

		}

		@media $mdWidth {

			margin: auto;
			text-align: center;
			padding: 0;

		}

		@media $smWidth {

			max-width: 100%;
			width: 353px;

		}

	}

	&__title {

		margin: 45px 0 10px;

		@media $lgWidth {

			margin-top: 96px;

		}

		@media $mdWidth {

			margin-top: 22px;

		}

	}

	&__text {

		margin-bottom: 32px;
		font-weight: 500;
		font-size: 24px;
		line-height: 40px;
		text-wrap: balance;

		@media $lgWidth {

			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 40px;

		}

		@media $smWidth {

			font-size: 14px;

		}

	}

	&__btn {

		display: flex;

		@media $mdWidth {

			justify-content: center;

		}

		@media $smWidth {

			a {

				width: 100%;

			}

		}

	}

	&__img {

		position: relative;
		width: 600px;
		pointer-events: none;

		@media $lgWidth {

			width: 300px;

		}

		@media $mdWidth {

			display: flex;
			margin: auto;
			height: 350px;
			justify-content: center;

		}

		@media $smWidth {

			height: 302px;

		}

		img {

			position: absolute;
			top: -138px;
			left: -86px;

			@media $lgWidth {

				width: 644px;
				height: auto;
				top: -136px;
				left: -304px;

			}

			@media $mdWidth {

				width: 744px;
				top: -132px;
				left: auto;
				margin: auto;
				position: relative;

			}

			@media $smWidth {

				width: 601px;
				top: -80px;
				left: -6px;

			}

		}

	}

}