/* h */

.h1 {

	font-weight: 700;
	font-size: 70px;
	line-height: 80px;

	@media $lgWidth {

		font-size: 56px;

	}

	@media $smWidth {


	}

	@media $xsWidth {


	}

}

.h2 {

	font-weight: 600;
	font-size: 48px;
	line-height: 56px;

	@media $lgWidth {

		font-size: 40px;
		line-height: 48px;

	}

	@media $smWidth {

		font-size: 36px;
		font-weight: 700;

	}

}

.h3 {

	font-weight: 700;
	font-size: 32px;
	line-height: 40px;

}
