.everywhere {

	margin: var(--margin) 0;

	&__title {

		text-align: center;
		color: var(--second);
		margin-bottom: var(--gap);

		b {

			color: #8D0101;

		}

	}

	&__text {

		text-align: center;
		color: var(--second);

		font-weight: 500;
		font-size: 24px;
		line-height: 32px;

		margin-bottom: 32px;

		b {

			color: #8D0101;

		}

		@media $lgWidth {

			font-size: 20px;

		}

	}

	&__list {

		position: relative;

		@media $smWidth {

/*			gap: 16px 12px;
			display: flex;
			flex-wrap: wrap;

			ul {

				display: contents;

			}
*/
		}

		&::after {

			position: absolute;
			content: '';
			height: 102px;
			left: 0;
			right: 0;
			bottom: 0;
			pointer-events: none;
			background-image: linear-gradient(180deg, rgba(217, 217, 217, 0), rgba(251, 249, 249, 0.9));

		}

		ul {

			display: flex;
			gap: 48px;
			justify-content: space-between;

			@media $lgWidth {

				gap: 20px;

			}

			@media $smWidth {

				gap: 12px;

				&:last-child {

					justify-content: center;

				}

			}

			&:nth-child(2n) {

				margin: 48px auto;
				max-width: calc( 100% - 180px );

				@media $lgWidth {

					margin: 32px auto;
					max-width: calc( 100% - 60px );

				}

				@media $smWidth {

					margin: 16px auto;
					max-width: calc( 100% - 100px );

				}

			}

			&:nth-child(n+4) {

				display: none;

			}

		}

	}

	&__btn {

		display: flex;
		justify-content: center;
		margin-top: 48px;

		@media $lgWidth {

			margin-top: 40px;

		}

	}

	&.is-showall &__list::after {

		display: none;

	}

	&.is-showall ul:nth-child(n+4) {

		display: flex;

	}

}