.everywhere {

	margin: var(--margin) 0;

	&__title {

		text-align: center;
		color: var(--secund);
		margin-bottom: var(--gap);

		b {

			color: #8D0101;

		}

	}

	&__text {

		text-align: center;
		color: var(--secund);

		font-weight: 500;
		font-size: 24px;
		line-height: 32px;

		margin-bottom: 32px;

		b {

			color: #8D0101;

		}

	}

	&__list {

		position: relative;

		&::after {

			position: absolute;
			content: '';
			height: 102px;
			left: 0;
			right: 0;
			bottom: 0;
			pointer-events: none;
			background-image: linear-gradient(180deg, rgba(217, 217, 217, 0), rgba(251, 249, 249, 0.9));

		}

		ul {

			display: flex;
			gap: 48px;
			justify-content: space-between;

			&:nth-child(2n) {

				margin: 48px auto;
				max-width: calc( 100% - 180px );

			}

			&:nth-child(n+4) {

				display: none;

			}

		}

	}

	&__btn {

		display: flex;
		justify-content: center;
		margin-top: 48px;

	}

	&.is-showall &__list::after {

		display: none;

	}

	&.is-showall ul:nth-child(n+4) {

		display: flex;

	}

}