.faq {

	margin: var(--margin) 0 60px;
	color: var(--second);

	&__title {

		text-align: center;
		font-weight: 700;

	}

	&__head {

		font-weight: 700;
		font-size: 28px;
		line-height: 40px;

	}

	&__text {

		max-width: 1000px;
		width: 94%;
		text-wrap: pretty;

		font-weight: 600;
		font-size: 22px;
		line-height: 40px;
		color: #0A2239CC;

		ul li {

			padding-left: 32px;

			&::before {

				position: absolute;
				width: 7px;
				height: 7px;
				top: 20px;
				left: 12px;
				content: '';
				border-radius: 50%;
				background-color: currentColor;

			}

		}

	}

}