.faq {

	padding: var(--margin) 0;

	&__box {

		display: grid;
		grid-template-columns: 262px 608px;
		justify-content: space-between;

	}

	&__head {

		font-weight: 400;
		font-size: 20px;
		line-height: 32px;

	}

	&__text {

		font-size: 18px;
		line-height: 32px;
		max-width: 1080px;
		width: 94%;
		text-wrap: pretty;

		p + p {

			margin-top: 10px;

		}

		@media $mdWidth {

			font-size: 16px;
			line-height: 24px;

		}

		@media $smWidth {

			font-size: 14px;

		}

	}

}