.features {

	&__grid {

		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px var(--gap);

		@media $mdWidth {

			grid-template-columns: 1fr;

		}

	}

	&__item {
outline:1px solid red;
		/*background-color: #fff;*/
		border-radius: 30px;
		position: relative;
		display: flex;
		justify-content: space-between;

		@media $smWidth {

			display: block;

		}

		&--release {

			grid-row: 2 span;
			flex-direction: column;

			.features__content {

				padding-bottom: 0;

			}

			img {

				max-width: 100%;
				object-fit:cover;
				object-position: top;
				border-radius: 0 30px 30px 0;

			}

		}

		&--logo {

			.features__content {

				padding-right: 0;
				min-width: 380px;

				@media $lgWidth {

					min-width: 300px;

					.features__text {

						font-size: 16px;

					}

				}

			}

		}

	}

	&__content {

		padding: 30px;

	}

	&__img {

		width: 230px;
		height: 198px;
		display: flex;
		justify-content: center;
		align-items: center;

		@media $lgWidth {

			outline:1px solid red;
			width: 160px;

		}

		@media $smWidth {

			width: 100%;

		}

	}

	&__title {

		margin-bottom: 10px;
		font-weight: 700;
		font-size: 28px;
		line-height: 40px;

		@media $lgWidth {

			font-size: 22px;

		}

	}

	&__text {

		font-weight: 500;
		font-size: 20px;
		line-height: 24px;

	}

}