.first-screen {

	position: relative;

	&__box {

		display: flex;
		justify-content: space-between;
		padding: 148px 0 100px;

		@media $lgWidth {

			padding-bottom: 150px;

		}

		@media $mdWidth {

			display: block;
			margin: auto;
			max-width: 510px;
			padding: 95px 0 61px;

		}

		@media $smWidth {

			padding-bottom: 71px;

		}

	}

	&__content {

		width: 640px;

		@media $lgWidth {

			width: 510px;
			max-width: 100%;

		}

	}

	&__title {

		margin: 39px 0 21px;

		b {

			display: block;
			color: #940000;

		}

		@media $mdWidth {

			text-align: center;

		}

		@media $smWidth {

			margin: 23px 0 10px;

		}

	}

	&__text {

		font-weight: 500;
		font-size: 24px;
		line-height: 32px;
		display: flex;
		gap: var(--gap);
		align-items: center;

		@media $lgWidth {

			gap: 16px;
			font-size: 22px;

			img {

				width: 78px;
				height: 80px;

			}

		}

		@media $smWidth {

			font-size: 16px;
			line-height: 24px;

			img {

				width: 58px;
				height: 60px;

			}

		}

	}

	&__btn {

		margin: 49px 0 45px;
		max-width: 400px;

		@media $lgWidth {

			margin-bottom: 42px;

		}

		@media $mdWidth {

			max-width: 100%;
			margin: 40px 0 30px;

		}

		@media $smWidth {

			margin: 30px 0 34px;

		}

	}

	&__pay {

		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		align-content: center;
		gap: 16px;
		max-width: 400px;

		@media $mdWidth {

			max-width: 100%;

		}

		img {

			margin: auto;

			@media $lgWidth {

				width: 192px;
				height: 68px;

			}

			@media $smWidth {

				width: auto;
				height: 60px;

			}

		}

	}

	&__bg {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;

		img {

			width: 100%;
			height: auto;

		}

	}

	&__imgs {

		position: relative;
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;

	}

	&__logo-bg {

		position: absolute;
		top: 16px;
		left: -62px;
		bottom: 0;
		margin: auto;

		@media $lgWidth {

			width: 208px;
			height: 208px;
			top: -32px;
			left: -42px;

		}

		@media $mdWidth {

			width: 224px;
			height: 224px;
			top: 46px;
			left: -68px;

		}

		@media $smWidth {

			width: 173px;
			height: 173px;
			left: 50%;
			margin-left: -268px;

		}

	}

	&__terminal {

		top: 11px;
		left: -7px;

		@media $lgWidth {

			width: 207px;
			height: auto;
			left: 2px;

		}

		@media $mdWidth {

			top: 20px;
			left: -56px;

		}

		@media $smWidth {

			width: 160px;
			left: -42px;

		}

	}

	&__phone {

		left: 53px;
		z-index: 1;

		@media $lgWidth {

			width: 205px;
			height: auto;
			left: 80px;
			top: 48px;

		}

		@media $mdWidth {

			left: 0;
			top: 67px;

		}

		@media $smWidth {

			width: 160px;
			top: 57px;

		}

	}

}