.first-screen {

	position: relative;
	outline:1px solid red;

	@media $mdWidth {


	}

	&__box {

		display: flex;
		justify-content: space-between;
		padding: 148px 0 100px;

		@media $mdWidth {

			display: block;

		}

	}

	&__content {

		width: 640px;

	}

	&__title {

		margin: 39px 0 21px;

		b {

			display: block;
			color: #940000;

		}

	}

	&__text {

		font-weight: 500;
		font-size: 24px;
		line-height: 32px;
		display: flex;
		gap: var(--gap);
		align-items: center;

	}

	&__btn {

		margin: 49px 0 41px;
		max-width: 400px;

	}

	&__pay {

		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		align-content: center;
		gap: 16px;
		max-width: 400px;

		img {

			margin: auto;

		}

	}

	&__bg {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100vh;
		display: flex;
		justify-content: center;
		z-index: -1;
		overflow: hidden;

	}

	&__imgs {

		position: relative;
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;

	}

	&__logo-bg {

		position: absolute;
		top: 16px;
		left: -62px;
		bottom: 0;
		margin: auto;

	}

	&__terminal {

		top: 11px;
		left: -7px;

	}

	&__phone {

		left: 53px;
		z-index: 1;

	}

}