.footer {

	flex-shrink: 0;
	position: relative;
	color: #fff;
	background-color: var(--second);
	padding: 50px 0;

	.center {

		@media $lgWidth {

			width: 100%;

		}

	}

	&__grid {

		display: grid;
		gap: 40px;
		align-content: flex-start;
		justify-content: space-between;
		grid-template-areas: "logo menu app"
							 "copyright menu app"
							 "social menu app";
		grid-template-columns: 300px 500px 150px;

		@media $lgWidth {

			grid-template-columns: 274px 450px 110px;

		}

		@media $smWidth {

			grid-template-areas: "logo app"
								 "copyright app"
								 "social app"
								 "menu menu";
			grid-template-columns: auto;
			gap: 30px;

		}

	}

	&__logo {

		grid-area: logo;

	}

	&__menu {

		grid-area: menu;

		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		&-head {

			font-weight: 700;
			font-size: 16px;
			line-height: 32px;
			text-transform: uppercase;
			opacity: .4;
			margin-bottom: 30px;

			@media $lgWidth {

				font-size: 14px;
				margin-bottom: 16px;

			}

		}

		@media $lgWidth {


		}

		@media $smWidth {

		}

		li {

			font-weight: 500;
			font-size: 16px;
			line-height: 32px;
			margin-top: 16px;

			@media $lgWidth {

				font-size: 14px;

			}

		}

	}

	&__app {

		grid-area: app;
		text-align: center;
		font-weight: 500;
		font-size: 16px;
		line-height: 32px;

		img {

			margin-top: 16px;
			max-width: 100%;
			height: auto;


		}

		@media $lgWidth {

			font-size: 14px;
			line-height: 24px;

		}

		@media $smWidth {

			display: flex;
			justify-content: flex-end;

			&-inner {

				width: 110px;

			}

		}

	}

	&__social {

		grid-area: social;
		display: flex;
		gap: 20px;

		svg {

			background-color: #fff;
			border-radius: 20px;
			color: var(--color);

		}

	}

	&__copyright {

		grid-area: copyright;
		display: grid;
		gap: 20px;
		opacity: .54;
		font-weight: 500;
		font-size: 12px;
		line-height: 20px;
		text-wrap: pretty;

		@media $lgWidth {

			font-weight: 600;
			font-size: 11px;

		}

		@media $smWidth {

			p {

				max-width: 274px;

			}

		}

	}

}
