.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: var(--transitionDefault);
	user-select: none;
	position: relative;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	display: block;

	&:hover {

		cursor: pointer;

	}

	&:focus {

		outline: none;

	}

	&:disabled {

		pointer-events: none;

	}

}

.btn {

	padding: 12px 24px;
	font-weight: 500;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-auto-flow: column;
	gap: 4px;
	border-radius: 24px;
	background-color: var(--color);
	color: var(--bg);
	min-width: 130px;

	svg {

		display: initial; /* fallback Grid not working in Safari */

	}

	@media $mdWidth {

	}

	@media $smWidth {

	}

	@media $desktop {

		&:hover {



		}

	}


	&--white {

		background-color: #fff;
		color: var(--color);

	}

}