.get-card {

	margin: var(--margin) 0;
	color: var(--second);

	&__title {

		text-align: center;
		font-weight: 700;

		b {

			color: #8D0101;

		}

		@media $smWidth {

			font-size: 24px;
			line-height: 32px;

			br {

				display: none;

			}

		}

	}

	&__list {

		margin-top: 32px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 32px;

		@media $lgWidth {

			grid-template-columns: 1fr;

		}

		@media $mdWidth {

			gap: var(--gap);

		}

		@media $smWidth {

			gap: 16px;

		}

	}

	&__item {

		background-color: #fff;
		border-radius: 30px;
		text-wrap: balance;

		@media $lgWidth {

			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;

		}

		@media $smWidth {

			grid-template-columns: 1fr;

		}

	}

	&__img {

		height: 416px;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		background: linear-gradient(65.58deg, #940000 -11.84%, #FF3617 98.75%), #FAEFED;
		border-radius: 30px 30px 0 0;

		@media $lgWidth {

			height: 250px;
			border-radius: 30px 0 0 30px;

			img {

				width: 161px;
				height: auto;

			}

		}

		@media $smWidth {

			border-radius: 30px 30px 0 0;

		}

	}

	&__step {

		padding: 26px 30px 12px;
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;

		@media $mdWidth {

			font-size: 22px;

		}

		@media $smWidth {

			padding: 16px 16px 12px;
			font-size: 20px;

		}

	}

	&__text {

		padding: 0 30px 30px;

		@media $smWidth {

			padding: 0 16px 20px;

		}

	}

}