.header {

	flex-shrink: 0;
	position: absolute;
	z-index: 8;
	top: 20px;
	left: 0;
	right: 0;

	@media $lgWidth {

		.center {

			width: 100%;

		}

	}

	&__grid {

		display: grid;
		gap: var(--gap);
		align-items: center;
		grid-template-areas: "logo menu lang btn";
		grid-template-columns: auto 1fr auto auto;

		@media $lgWidth {

			grid-template-areas: "logo lang menu btn";
			grid-template-columns: 1fr auto auto auto;

		}

		@media $smWidth {

			grid-template-areas: "logo menu";
			grid-template-columns: 1fr auto;

		}

	}

	&__logo {

		grid-area: logo;
		color: #8D0101;

	}

	&__menu {

		grid-area: menu;
		position: relative;

		&-list {

			display: flex;
			justify-content: center;
			gap: 60px;

			@media $lgWidth {

				display: grid;
				padding: 12px 24px;
				gap: 12px;

				position: absolute;
				left: 50%;
				top: 58px;
				transform: translateX(-50%);

				background-color: #FBF9F9;
				border: 1px solid rgba(10, 34, 57, 0.06);
				box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.06);
				border-radius: 20px;

				white-space: nowrap;
				text-align: center;
				font-weight: 500;

				.header:not(.is-menu-open) & {

					display: none;

				}

			}

			@media $smWidth {

				display: none;

			}

		}

		a {

			font-weight: 500;

		}

	}

	&__btn-menu-toggle {

		display: none;

		@media $lgWidth {

			display: flex;
			justify-content: flex-end;

		}

		.btn-menu-toggle {

			display: flex;
			align-items: center;
			padding: 11px 24px;
			gap: 8px;
			color: var(--second);
			background-color: #fff;
			border: 1px solid;
			border-radius: 28px;

			path:first-child {

				opacity: 0;

			}

			@media $smWidth {

				.is-menu-open & path {

					opacity: 0;

					&:first-child {

						opacity: 1;

					}

				}

			}

		}

	}

	&__lang {

		grid-area: lang;

	}

	&__btn {

		grid-area: btn;

	}

	&__mobile {

		display: none;

	}

}

.lang {

	position: relative;

	&__current {

		display: flex;
		padding: 11px 0;
		gap: 8px;
		background: rgba(255, 255, 255, 0.3);
		border: 1px solid rgba(255, 255, 255, 0.2);
		border-radius: 28px;
		font-weight: 600;
		text-transform: uppercase;

	}

	&__list {

		display: grid;
		padding: 12px 24px;
		gap: 12px;

		position: absolute;
		left: 50%;
		top: 58px;
		transform: translateX(-50%);

		background-color: #FBF9F9;
		border: 1px solid rgba(10, 34, 57, 0.06);
		box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.06);
		border-radius: 20px;

		white-space: nowrap;
		text-align: center;
		font-weight: 500;

		.is-current {

			color: #940000;
			transition: var(--transitionDefault);

		}

	}

	&.is-open &__current {

		color: #940000;

	}

	&:not(.is-open) &__list {

		display: none;

	}

}

