.header {

	flex-shrink: 0;
	position: absolute;
	z-index: 8;
	top: 20px;
	left: 0;
	right: 0;

	@media $mdWidth {

		.center {

			width: 100%;

		}

	}

	&__grid {

		display: grid;
		gap: 10px;
		align-items: center;
		grid-template-areas: "logo menu btns";
		grid-template-columns: auto 1fr auto;

		@media $mdWidth {

			grid-template-areas: "logo btn-menu btns";

		}

		@media $smWidth {


		}

	}

	&__logo {

		grid-area: logo;
		color: #8D0101;

	}

	&__menu {

		grid-area: menu;

		@media $mdWidth {

			display: none;

		}

		ul {

			display: flex;
			justify-content: center;
			gap: 60px;

			@media $mdWidth {

				display: block;

			}

		}

		a {

			font-weight: 500;

			@media $mdWidth {

				font-size: 20px;
				line-height: 32px;
				display: block;
				text-align: center;
				margin: 50px 0;

			}

		}

	}

	&__btn-menu-toggle {

		display: none;
		grid-area: btn-menu;

		@media $mdWidth {

			display: flex;
			justify-content: flex-end;

		}

		.btn-menu-toggle {

			display: flex;
			align-items: center;
			padding: 11px 24px;
			gap: 8px;
			color: var(--second);
			background-color: #fff;
			border: 1px solid;
			border-radius: 28px;

			.menu-show & {

				path {

					opacity: 0;

					&:first-child {

						opacity: 1;

					}

				}

			}

		}

	}

	&__btns {

		grid-area: btns;
		display: flex;
		gap: var(--gap);

		@media $smWidth {

		}

	}

}

.lang {

	position: relative;

	&__current {

		display: flex;
		padding: 11px 0;
		gap: 8px;
		background: rgba(255, 255, 255, 0.3);
		border: 1px solid rgba(255, 255, 255, 0.2);
		border-radius: 28px;
		font-weight: 600;
		text-transform: uppercase;

	}

	&__list {

		display: grid;
		padding: 12px 24px;
		gap: 12px;

		position: absolute;
		left: 50%;
		top: 58px;
		transform: translateX(-50%);

		background-color: #FBF9F9;
		border: 1px solid rgba(10, 34, 57, 0.06);
		box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.06);
		border-radius: 20px;

		white-space: nowrap;
		text-align: center;
		font-weight: 500;

		.is-current {

			color: #940000;
			transition: var(--transitionDefault);

		}

	}

	&.is-open &__current {

		color: #940000;

	}

	&:not(.is-open) &__list {

		display: none;

	}

}


.menu-show {

	@media $mdWidth {

		background-image: linear-gradient(111deg, #0E33E4 20%, #5DA0FF);

		.main,
		.footer {

			display: none;

		}

		.header {

			position: relative;
			flex-grow: 1;
			top: 0;
			display: grid;
			padding: var(--margin) 0;

			&--white {

				padding-top: 10px;

			}

			.center {

				display: grid;

			}

			&__grid {

				grid-template-areas: "logo btn-menu btns"
									 "menu menu menu";
				grid-template-columns: auto 1fr auto;
				grid-template-rows: auto 1fr;

			}

			&__menu {

				display: block;

			}

		}

	}

	@media $smWidth {

		.header {

			&__grid {

				grid-template-areas: "logo btn-menu"
									 "menu menu"
									 "btns btns";
				grid-template-columns: auto auto;
				grid-template-rows: auto 1fr auto;

			}

			&__menu {

				display: block;

			}

			&__btns {

				display: grid;

			}

		}

	}

}
