.header-billboard {

	position: relative;
	padding: 138px 0;
	margin-bottom: 130px;
	color: #fff;

	@media $lgWidth {

		margin-bottom: 74px;

	}

	@media $mdWidth {

		margin-bottom: 30px;

	}

	@media $smWidth {

		padding-bottom: 90px;

	}

	&--referral {

		margin-bottom: 106px;

		@media $lgWidth {

			margin-bottom: 66px;

		}

		@media $mdWidth {

			margin-bottom: 34px;

		}

		@media $smWidth {

			margin-bottom: 38px;

		}

	}

	&--referral &__content {

		margin-top: 74px;

		@media $lgWidth {

			margin-top: 82px;

		}

		@media $mdWidth {

			margin-top: 385px;

		}

		@media $smWidth {

			margin-top: 322px;

		}

	}

	&--referral &__text {

		@media $mdWidth {

			max-width: 100%;

		}

	}

	&__content {

		max-width: 696px;
		margin-top: 98px;

		@media $lgWidth {

			margin-top: 42px;

		}

		@media $mdWidth {

			text-align: center;
			margin: 330px auto 0;

		}

		@media $smWidth {

			margin-top: 240px;

		}

	}

	&__title {

		margin-bottom: 10px;

	}

	&__text {

		font-weight: 500;
		font-size: 24px;
		line-height: 40px;
		text-wrap: balance;
		max-width: 700px;

		@media $lgWidth {

			font-weight: 400;
			font-size: 16px;
			max-width: 400px;
			line-height: 24px;

		}

		@media $mdWidth {

			margin: auto;

		}

		@media $smWidth {

			font-size: 14px;

		}

	}

	&__tg {

		margin-top: 32px;

		@media $mdWidth {

			display: flex;
			justify-content: center;

		}

	}

	&__apps {

		margin-top: 32px;

		@media $lgWidth {

			margin-top: 40px;

		}

	}

	&__img {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 700px;
		z-index: -1;
		background-color: rgba(10, 34, 57, 0.6);
		clip-path: polygon(0 0, 100% 0, 100% 607px, 0 100%);

		@media $lgWidth {

			height: 600px;
			clip-path: polygon(0 0, 100% 0, 100% 524px, 0 100%);

		}

		@media $mdWidth {

			height: 846px;
			clip-path: polygon(0 0, 100% 0, 100% 765px, 0 100%);

		}

		@media $smWidth {

			height: 745px;
			clip-path: polygon(0 0, 100% 0, 100% 700px, 0 100%);

		}

		img {

			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			object-position: top;

		}

	}

}