.visible-md,
.visible-sm {

	display: none;

}

.center {

	width: 1376px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 0 var(--indent);

}

@media $desktop {

	.hidden-desktop {

		display: none !important;

	}

}

@media $lgWidth {

	:root {

		--indent: 40px;
		--gap: 24px;
		--margin: 80px;

	}

	.center {

		width: 1024px;

	}

}

@media $mdWidth {

	:root {


	}

	.hidden-md {

		display: none !important;

	}

	.visible-md {

		display: block;

	}

	.center {

		width: 744px;

	}

}

@media $smWidth {

	:root {

		--indent: 20px;
		--margin: 40px;

	}

	.hidden-sm {

		display: none !important;

	}

	.visible-sm {

		display: block;

	}

	.center {

		width: 512px;

	}

}

@media $xsWidth {

	:root {

		--indent: 16px;

	}

	.hidden-xs {

		display: none !important;

	}

}

@media (max-width: 359px) {

	:root {

		--indent: 10px;

	}

}