.more-card {

	padding: var(--padding) 0;
	background-color: #F5F7FF;

	&__box {

		display: flex;
		gap: 30px;
		justify-content: space-between;

		@media $smWidth {

			display: block;

		}

	}

	&__img {

		@media $lgWidth {

			align-self: center;

			img {

				width: 358px;
				height: auto;

			}

		}

		@media $mdWidth {

			display: none;

		}

	}

	&__content {

		width: 867px;
		max-width: 100%;

	}

	&__header {

		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 80px;

		@media $lgWidth {

			margin-bottom: 60px;

		}

		@media $smWidth {

			display: block;
			text-align: center;
			margin-bottom: var(--padding);

		}

		.btn {

			min-width: 168px;

			@media $smWidth {

				margin-top: 20px;

			}

		}

	}

	&__text {

		font-size: 20px;
		line-height: 32px;
		margin-top: 10px;
		max-width: 512px;
		text-wrap: balance;

		@media $lgWidth {

			font-size: 16px;
			line-height: 24px;

		}

		@media $smWidth {

			font-size: 14px;

		}

	}

	&__list {

		display: grid;
		gap: 60px 20px;
		max-width: 850px;
		grid-template-columns: 1fr 1fr 1fr;

		@media $lgWidth {

			gap: 30px 54px;
			grid-template-columns: 1fr 1fr;

		}

		@media $mdWidth {

			gap: 30px;
			justify-content: space-between;
			grid-template-columns: 260px 260px;

		}

		@media $smWidth {

			grid-template-columns: 1fr;

		}

		li {

			display: grid;
			gap: 10px;

			@media $smWidth {

				text-align: center;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

			}

		}

		p:not([class]) {

			opacity: .68;
			font-size: 14px;
			line-height: 24px;
			text-wrap: balance;

			@media $smWidth {

				width: 100%;

			}

		}

	}

	&__ico {

		border-radius: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 60px;
		color: var(--accent);
		background-color: rgba(65, 98, 255, 0.1);

		@media $smWidth {

			width: 32px;
			height: 32px;
			border-radius: 10px;

			svg {

				width: 40px;
				height: 40px;

			}

		}

	}

}
