.promo {

	margin: var(--margin) 0;
	color: var(--second);

	&__box {

		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 32px;

		@media $lgWidth {

			grid-template-columns: 1fr;

		}

	}

	&__item {

		position: relative;
		border-radius: 30px;

		@media $smWidth {
outline:1px solid red;
			display: flex;
			flex-direction: column-reverse;

		}

	}

	&__img {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		img {

			object-fit: cover;
			object-position: right;
			border-radius: 30px;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;

		}

		@media $smWidth {

			display: block;
			position: relative;

			img {

				position: relative;

			}

		}

	}

	&__content {

		padding: 30px;
		color: #fff;
		max-width: 400px;
		display: flex;
		flex-direction: column;
		gap: 16px;
		font-weight: 500;
		font-size: 18px;
		line-height: 32px;
		position: relative;

		@media $desktop {

			min-height: 300px;

		}

	}

	&__foot {

		display: flex;
		margin-top: auto;

		.btn {

			min-width: 250px;

		}

	}

	.promo-aliexpress {

		background-color: #8A0302;

		@media $lgWidth {

			.promo__content {

				min-height: 284px;

			}

		}

	}

	.promo-partners {

		background-image: linear-gradient(111.46deg, #2C2C2C, #191919);

		@media $lgWidth {

			.promo__content {

				max-width: 470px;
				min-height: 260px;

			}

		}

	}

}