.promo {

	margin: var(--margin) 0;
	color: var(--second);

	&__box {

		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 32px;

		@media $lgWidth {

			grid-template-columns: 1fr;

		}

	}

	&__item {

		position: relative;

	}

	&__img {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		img {

			object-fit: cover;
			object-position: right;
			border-radius: 30px;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;

		}

	}

	&__content {

		padding: 30px;
		color: #fff;
		max-width: 400px;
		display: flex;
		flex-direction: column;
		gap: 16px;
		font-weight: 500;
		font-size: 18px;
		line-height: 32px;
		position: relative;

		@media $desktop {

			min-height: 300px;

		}

	}

	&__foot {

		display: flex;
		margin-top: auto;

		.btn {

			min-width: 250px;

		}

	}

	.promo-aliexpress {


	}

	.promo-partners {

		@media $lgWidth {

			.promo__img {

				img {



				}

			}

			.promo__content {

				max-width: 470px;

			}

		}

	}

}