.secure-add {

	margin: var(--margin) 0;

	&__box {

		padding: 70px 80px;
		background-image: linear-gradient(111.46deg, #2C2C2C, #191919);
		border-radius: 30px;
		color: #fff;

	}

	&__flex {

		display: flex;
		justify-content: space-between;

	}

	&__content {

		max-width: 520px;

	}

	&__title {

		margin-bottom: 20px;

		b {

			color: #FF3617;

		}

	}

	&__text {

		font-size: 20px;
		line-height: 32px;
		max-width: 520px;

		@media $mdWidth {


		}

	}

	&__list {

		display: grid;
		grid-template-columns: 330px 330px 330px;
		justify-content: space-between;
		margin-top: 56px;

		li {

			display: flex;
			gap: 16px;

		}

		span {

			color: rgba(255, 255, 255, 0.8);

		}

		b {

			display: block;
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 8px;
			color: rgba(255, 255, 255, 1);

		}

		svg {

			border-radius: 20px;
			background-color: rgba(255, 255, 255, 0.1);

		}

	}

	&__img {

		img {



		}

	}

}