.secure {

	margin: var(--margin) 0;

	&__box {

		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 70px 80px;
		background-image: linear-gradient(111.46deg, #2C2C2C, #191919);
		border-radius: 30px;
		color: #fff;

		@media $lgWidth {

			padding: 70px 50px;

		}

		@media $smWidth {

			display: block;

		}

	}

	&__content {

		max-width: 670px;

	}

	&__title {

		margin-bottom: 20px;

		b {

			color: #FF3617;

		}

	}

	&__text {

		font-size: 20px;
		line-height: 32px;
		max-width: 520px;

		@media $lgWidth {


		}

	}

	&__list {

		display: flex;
		justify-content: space-between;
		margin: 56px 0;

		@media $lgWidth {

			font-size: 15px;

		}

		svg {

			margin-bottom: 10px;
			border-radius: 20px;
			background-color: rgba(255, 255, 255, 0.1);

		}

	}

	&__btn {

		max-width: 250px;

		@media $smWidth {

			margin: 24px auto;

		}

	}

	&__img {

		@media $smWidth {

			display: flex;
			justify-content: center;

			img {

				left: 0;
				width: 253px;
				height: 304px;

			}

		}

		img {

			left: 20px;

			@media $lgWidth {

				height: 470px;
				width: auto;

			}

		}

	}

}