.secure-add {

	margin: var(--margin) 0;

	&__box {

		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 70px 80px;
		/*background-image: linear-gradient(111.46deg, #2C2C2C, #191919);*/
		border-radius: 30px;
		color: #fff;
outline:1px solid red;
	}

	&__content {

		max-width: 670px;

	}

	&__title {

		margin-bottom: 20px;

		b {

			color: #FF3617;

		}

	}

	&__text {

		font-size: 20px;
		line-height: 32px;
		max-width: 520px;

		@media $mdWidth {


		}

	}

	&__list {

		display: flex;
		justify-content: space-between;
		margin: 56px 0;

		svg {

			margin-bottom: 10px;
			border-radius: 20px;
			background-color: rgba(255, 255, 255, 0.1);

		}

	}

	&__btn {

		max-width: 250px;

	}

	&__img {

		img {

			left: 20px;

		}

	}

}