.secure-add {

	margin: var(--margin) 0;

	&__box {

		padding: 70px 80px;
		/* background-image: linear-gradient(111.46deg, #2C2C2C, #191919); */
		border-radius: 30px;
		outline:1px solid red;
		color: #fff;

		@media $lgWidth {

			padding: 50px 40px;

		}

		@media $mdWidth {

			padding: 30px;

		}

		@media $smWidth {

			padding: 20px;

		}

	}

	&__flex {

		display: flex;
		justify-content: space-between;

		@media $smWidth {

			display: block;

		}

	}

	&__content {

		max-width: 520px;

		@media $smWidth {

			text-align: center;

		}

	}

	&__title {

		margin-bottom: 20px;

		b {

			color: #FF3617;

		}

		@media $mdWidth {

			font-size: 32px;
			line-height: 40px;
			margin-bottom: 16px;

		}

	}

	&__text {

		font-size: 20px;
		line-height: 32px;
		max-width: 520px;

		@media $mdWidth {

			font-size: 18px;

		}

		@media $smWidth {

			font-size: 16px;

		}

	}

	&__list {

		display: grid;
		grid-template-columns: 330px 330px 330px;
		justify-content: space-between;
		margin-top: 56px;

		@media $lgWidth {

			grid-template-columns: 1fr 1fr 1fr;
			gap: 80px;
			font-size: 15px;

			b {

				font-size: 18px;
				margin: 16px 0 10px;

			}

		}

		@media $mdWidth {

			margin-top: 32px;
			gap: 24px;
			font-size: 14px;

			svg {

				width: 60px;
				height: 60px;

			}

			b {

				font-size: 16px;

			}

		}

		@media $smWidth {

			grid-template-columns: 1fr;

		}

		li {

			display: flex;
			gap: 16px;

			@media $lgWidth {

				display: block;

			}

		}

		span {

			color: rgba(255, 255, 255, 0.8);

		}

		b {

			display: block;
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 8px;
			color: rgba(255, 255, 255, 1);

		}

		svg {

			border-radius: 20px;
			background-color: rgba(255, 255, 255, 0.1);

		}

	}

	&__img {

		img {

			@media $lgWidth {

				width: auto;
				height: 180px;
				margin-right: -10px;

			}

			@media $mdWidth {

				height: 160px;
				margin: 0;

			}

		}

		@media $smWidth {

			display: flex;
			justify-content: center;

		}

	}

}