.tabs {

	&__nav {

		display: grid;
		grid-template-columns: repeat(3, minmax(200px, 1fr));
		padding: 8px;
		gap: 16px;
		background-color: rgba(10, 34, 57, 0.12);
		border-radius: 20px;

		@media $smWidth {

			grid-template-columns: repeat(3, auto);
			gap: 0;

		}

		@media $xsWidth {

			padding: 0;
			border-radius: 10px;

		}

	}

	&__btn {

		display: flex;
		justify-content: center;
		align-items: center;
		padding: 8px 16px;
		gap: 12px;
		height: 40px;
		border-radius: 10px;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;

		@media $smWidth {

			font-size: 14px;
			border-radius: 15px;
			padding: 8px;

		}

		b {

			display: flex;
			gap: 4px;

			@media $smWidth {

				display: none;

			}

		}

		svg {

			color: #ffba08;

		}

		&.is-current {

			color: #fff;
			background-color: var(--second);

		}

	}

}