.top-up {

	margin: var(--margin) 0;
	color: var(--second);

	&__title {

		margin-bottom: 20px;

		@media $mdWidth {

			margin-bottom: 16px;

		}

	}

	&__intro {

		font-size: 20px;
		line-height: 32px;

		@media $mdWidth {

			font-size: 18px;

		}

	}

	&__box {

		border-radius: 30px;
		padding: 70px 80px;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		 background-color: #FAEFED;

		@media $lgWidth {

			padding: 40px;

		}

		@media $mdWidth {

			padding: 30px;
			display: block;

		}

	}

	&__content {

		flex-basis: 752px;

	}

	&__list {

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 56px 24px;
		margin-top: 56px;

		@media $lgWidth {

			margin-top: 32px;
			gap: 32px 24px;

		}

		@media $smWidth {

			grid-template-columns: 1fr;

		}

		li {

			display: flex;
			gap: 16px;
			color: rgba(10, 34, 57, 0.8);

			@media $lgWidth {

				display: block;

				img {

					margin-bottom: 16px;

				}

			}

			@media $smWidth {

				display: flex;

			}

		}

		img {

			border-radius: 50%;

		}

		b {

			display: block;
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 8px;

		}

		small {

			display: block;
			font-size: 16px;
			opacity: .8;

		}

	}

	&__img {

		@media $lgWidth {

			img {

				width: auto;
				height: auto;

			}

		}

		@media $mdWidth {

			display: flex;
			justify-content: center;
			margin-top: 28px;

			img {

				width: 282px;
				height: 378px;

			}

		}

	}

}