:root {

	--color: #0A2239;

	--accent: #FF3617;

	--bg: #fff;

	--transitionDefault: 0s;

	--indent: 32px;
	--gap: 24px;
	--margin: 150px;

}

$desktop: (min-width: 1250px);
$lgWidth: (max-width: 1336px);
$mdWidth: (max-width: 1000px);
$smWidth: (max-width: 740px);
$xsWidth: (max-width: 374px);