:root {

	--color: #001524;

	--second: #0A2239;

	--bg: #FBF9F9;

	--transitionDefault: 0s;

	--indent: 32px;
	--gap: 24px;
	--margin: 120px;

}

::view-transition-old(root),
::view-transition-new(root) {

	animation: fade 300ms ease;

}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

$desktop: (min-width: 1250px);
$lgWidth: (max-width: 1249px);
$mdWidth: (max-width: 1023px);
$smWidth: (max-width: 743px);
$xsWidth: (max-width: 375px);