.virtual-card {

	margin: var(--margin) 0;
	color: var(--second);

	&__title {

		text-align: center;
		font-weight: 700;

	}

	&__intro {

		text-align: center;
		margin: 24px 0 32px;
		font-weight: 500;
		font-size: 24px;

		@media $lgWidth {

			font-size: 20px;

		}

		@media $mdWidth {

			font-size: 18px;
			margin: 20px 0;

		}

		@media $smWidth {

			font-size: 16px;
			margin: 16px 0;
			text-wrap: balance;

		}

		b {

			color: #8D0101;
			font-weight: initial;

		}

	}

	&__box {

		border-radius: 30px;
		padding: 50px;
		position: relative;
		background-color: #FAEFED;

		@media $lgWidth {

			padding: 40px;

		}

		@media $smWidth {

			padding: 40px 20px 20px;

		}

	}

	&__table {

		font-weight: 500;
		font-size: 24px;
		position: relative;
		line-height: 40px;
		z-index: 1;

		@media $lgWidth {

			width: 100%;

			td {

				width: 0;
				padding-right: 0;
				white-space: nowrap;

			}

		}

		@media $mdWidth {

			th {

				font-weight: 500;
				font-size: 20px;
				line-height: 32px;
				padding: 0 10px 16px 0;

			}

			td {

				font-size: 24px;
				line-height: 32px;
				padding: 0 0 16px;

			}

		}

		@media $smWidth {

			table, tbody, tr, th, td {

				display: block;
				white-space: normal;
				width: auto;

			}

			th {

				font-size: 16px;
				line-height: 24px;
				padding: 0;

			}

			td {

				font-size: 20px;
				padding: 4px 0 24px;

			}

		}

		th, td {

			padding-bottom: 16px;
			padding-right: 24px;

		}

		th {

			text-align: left;
			font-weight: 500;
			padding-right: 63px;

		}

		td {

			font-weight: 700;
			font-size: 30px;
			line-height: 40px;

		}

		&-ico {

			display: flex;
			align-items: center;
			gap: 16px;

			@media $smWidth {

				gap: 8px;

				svg {

					width: 24px;
					height: 24px;

				}

			}

		}

	}

	&__color-green {

		color: #417B5A;

	}

	&__btn {

		display: flex;
		margin-top: 32px;

		@media $lgWidth {

			margin-top: 16px;
			justify-content: center;

			.btn {

				min-width: 300px;

			}

		}

		@media $smWidth {

			margin-top: 8px;
			display: block;

		}

		@media $xsWidth {

			.btn {

				min-width: 250px;

			}

		}

	}

	&__bg {

		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		object-fit: cover;
		border-radius: 0 30px 30px 0;

		@media $lgWidth {

			display: none;

		}

	}

	&__img {

		position: absolute;
		right: 44px;
		bottom: 0;

		@media $lgWidth {

			display: none;

		}

	}

}
