{% set title = "Платите как дома по всему миру" %}

{% set description = "Международая банковская карта С пополнением в ₽ через СБП" %}

{% extends "template/base.html" %}

{% block content %}

{% include "main/first-screen.html" %}

{% include "main/features.html" %}

{% include "main/secure.html" %}

{% include "main/everywhere.html" %}

{% include "main/virtual-card.html" %}

{% include "main/secure-add.html" %}

{% include "main/top-up.html" %}

{% include "main/get-card.html" %}

{% include "main/today.html" %}

{% include "main/today.html" %}

{% include "main/today.html" %}

{% include "main/faq.html" %}

{% endblock %}